<% content_for :title, 'Log in' %>
<% content_for :footer do %>
  <span class="text-sm">Don"t have an account?</span> <%= link_to "Sign up", signup_path, class: "text-cyan-500 hover:text-cyan-700 font-semibold" %>
<% end %>
<%= render layout: "layouts/auth" do %>
  <%= form_with model: @user, url: login_path, method: :post do |form| %>
    <div class="flex flex-col gap-4">
      <%= render partial: "partials/form_field", locals: { model: @user, form: form, field_type: :email_field, attribute: :email, options: { placeholder: "Please enter your email address", required: true } } %>
      <%= render partial: "partials/form_field", locals: { model: @user, form: form, field_type: :password_field, attribute: :password, options: { placeholder: "Please enter your password", required: true } } %>
      <div class="flex justify-between items-center">
        <div>
          <%= form.check_box :remember_me, class: "text-cyan-500 focus:ring-cyan-200" %>
          <%= form.label :remember_me, "Remember me", class: "ml-2 text-sm" %>
        </div>
        <%= link_to "Forgot password?", "#", class: "text-sm text-cyan-500 hover:text-cyan-700" %>
      </div>
    </div>
    <div class="mt-6">
      <%= render partial: "partials/form_submit", locals: { form: form, button_text: "Log in" } %>
    </div>
  <% end %>
<% end %>
